<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>OntoEditor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/siiimple-toast/siiimple-toast.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/codemirror/codemirror.css" />

    <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/siiimple-toast/siiimple-toast.min.js"></script>
    <script type="text/javascript" src="/lib/codemirror/codemirror.js"></script>

    <style type="text/css">
      /* #editor {
          flex: 1;
          overflow: hidden;
      } */

      .CodeMirror {
        border: 1px solid #eee;
        height: auto;
      }
    </style>
  </head>

  
  <body>

